@keyframes loading-move {
    0%{
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(-50%,0,0);
    }
}
@-webkit-keyframes loading-move {
    0%{
        -webkit-transform: translate3d(0,0,0);
    }
    100% {
        -webkit-transform: translate3d(-50%,0,0);
    }
}
@-webkit-keyframes progress-bar-stripes {
    0%{
        background-position: 0 0
    }
    100%{
        background-position: 40px 0
    }
}
@keyframes progress-bar-stripes {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 40px 0;
    }
}
@keyframes progress-ico {
    0%{
        transform: rotate(15deg)
    }
    50%{
        transform: rotate(-15deg)
    }
    100%{
        transform: rotate(15deg)
    }
}
html {
    font-size: 13.333333vw;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
input {
    outline: none;
}
img {
    vertical-align: top;
}
mark {
    position: absolute;
    font: .2rem/.6rem "宋体";
    padding: 0 .25rem;
    border-radius: .3rem;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    -webkit-transform: scale(0);
    transform: scale(0);
    white-space: nowrap;
}
body {
    position: relative;
    margin: 0 auto;
    width: 100vw;
    max-width: 750px;
    background: #000;
}
#loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #d04542;
    -webkit-transform-origin: top;
    transform-origin: top;
    transition: .5s;
    z-index: 2;
}
.loading-inner {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-70%);
}
.avatar {
    width: 100%;
    height: 100px;
    overflow: hidden;
    transform-style: preserve-3d;
}
.avatar-list {
    -webkit-animation: 3s loading-move linear infinite;
    animation: 3s loading-move linear infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 200%;
    overflow: hidden;
}
.avatar-list li {
    float: left;
    width: 16.66667%;
    height: 100px;
    background: center center no-repeat;
    background-size: contain;
}
.avatar-list .avatar-1 {
    background-image: url(../img/loadIco_1-min.png);
}
.avatar-list .avatar-2 {
    background-image: url(../img/loadIco_2-min.png);
}
.avatar-list .avatar-3 {
    background-image: url(../img/loadIco_3-min.png);
}
.progress {
    margin: 50px auto;
    width: 260px;
    height: 12px;
    background: #262626;
    padding: 2px;
    border-radius: 9px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #7992a8;
}
.progress-bar {
    position: relative;
    width: 0%;
    height: 12px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    background: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) #d9534f;
    background-size: 40px 40px;
    border-radius: 6px;
    animation: progress-bar-stripes .4s linear infinite;
    transition: .4s width linear;
}
.progress-bar-ico {
    position: absolute;
    right: -25px;
    top: -19px;
    width: 50px;
    height: 50px;
    background: url(../img/load-min.png) no-repeat;
    background-size: cover;
    animation: .6s infinite progress-ico;
}
#view {
    height: 100%;
    z-index: 1;
}
#picList {
    height: 100%;
}
#view li {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
#edit {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
}
#picList li {
    transition: .3s;
    opacity: 0.5;
}
#picList img {
    width: 100%;
}
#message {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 7.5rem;
    height: 1rem;
    box-sizing: border-box;
    padding: .1rem 1.3rem .1rem 1.1rem;
    background: #fafafa;
    transition: .3s;
    -webkit-transform: translate3d(-50%,100%,0);
    transform: translate3d(-50%,100%,0);
    border-top: 1px solid #dcdcdc;
    -webkit-perspective: 3rem;
    perspective: 3rem;
}
#message.message-show {
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
}
#message .icon {
    position: absolute;
    left: .1rem;
    top: .1rem;
    width: .8rem;
    height: .8rem;
    box-sizing: border-box;
    border: 1px solid #efb62c;
    border-radius: 50%;
    background: #fff center no-repeat;
    background-size: cover;
    font: .4rem/.8rem "宋体";
    text-align: center;
    color: #efb62c;
}
#text {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: .8rem;
    border: none;
    background: #fff;
    padding: 0 10px;
    border-radius: 3px;
    font-size: .2rem;
}
#btn {
    position: absolute;
    right: 1vw;
    top: 1vh;
    width: 19vw;
    font: .3rem/.8rem "宋体";
    text-align: center;
    color: #333;
}
#edit {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;  
    background: rgba(0, 0, 0, .2);   
}
.edit-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background: rgba(0, 0, 0, .6);
    z-index: 2;
}
#edit-cancel-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1rem;
    font: .2rem/1rem "宋体";
    color: #fff;
    text-align: center;
}
#edit-sure-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1rem;
    font: .2rem/1rem "宋体";
    color: yellow;
    text-align: center;
}
.mark {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    border: 1px solid yellow;
}
.mark mark {
    display: block;
    position: static;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.mark-nub {
    position: absolute;
    width: 50px;
    height: 32px;
    padding: 14px 5px;
    background: rgba(0, 0, 0, .6);
    color: #f8df0b;
    font: 12px/16px "宋体";
    border-radius: 50%;
    text-align: center;
    transition: .4s transform cubic-bezier(.42,1.18,.5,1.14);
    -webkit-transform: scale(0);
    transform: scale(0);
}
.mark-nub span {
    display: block;
}